body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-image:url("./imgs/background.png");
    cursor: url("./imgs/cursor.png"), pointer;
}
.bg{
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    align-items: center;
    width: 1920px;
    height: 1080px;
}
.hole{
    background-color: black;
    height: 260px;
    width: 260px;
    border-radius: 50%;
    margin: 0 45px;
    display: flex;
    justify-content: center;
}
.hole-container{
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
    width: 85%;
}
.worm-container{
    height: 150px;
    width: 85%;
}
.show{
    display: block;
}
.hide{
    display: none;
}
.mole{
    display:none;
}
