*{
    box-sizing: border-box
}
body{
    margin: 0;
    padding:0;
    background-color: #D9B779;
    font-family: 'Quicksand', sans-serif;
}
nav{
    background-color: #D99F7E;
    text-align: center;
    color: #9e7805;
    padding:3rem 0 ;
    margin: 0 0 1rem 0;
    height: 7rem;
    border-bottom: solid 0.2rem #88BFBF;
}
img{
    display:block;
    margin: auto auto;
    max-width: 50%;
}
.options{
    display: block;
    text-align: right;
    margin-right: 3rem;
}
.emoji{
    margin:auto auto;
    font-size: 2.5em;
    text-align: center;
    display: flex;
    justify-content: center;
    border: red solid 2px;
}
@keyframes spin {
    0% {
      transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
  }
.spin {
    animation: spin 10s linear infinite;
  }
