html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Kavivanar', cursive;
    font-weight: normal;
}
h2 {
    font-size: 2rem;
    color: #A51F10;
    margin: 0;
}
a {
    color: #DA0090;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.posted {
    font-size: 0.8rem;
    color: #89A611;
}
.wrapper{
    margin: 0 auto;
    width: 80%;
}
section{
    border-bottom: solid 0.1rem #A51F10;
    margin-bottom: 0.5rem;
}
header{
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
}
.leftheader{
    margin: 0rem;
    padding: 0.5rem;
    flex-basis: 40%;
    text-align: right;
}
.rightheader{
    margin-top: 3.5rem;
    padding-left:1rem;
    flex-basis: 60%;
}
.rightheader h1{
    margin:0;
    padding:0;
    color:#DA0090;
    font-size: 3rem;
}
.rightheader p{
    margin-top:-0.5rem;
    padding:0; 
}
nav{
    border-top:#DA0090 solid 0.1rem;
    border-bottom:#A51F10 solid 0.1rem;
}
nav ul{
    margin: 0rem;
    padding: 0rem;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
}
nav li{
    display: inline-block;
}
nav a{
    display: block;
    color:#A51F10 ;
    padding: 0.5rem 1rem
}
nav a:hover{
    text-decoration: none;
    background-color: black;
    color:#89A611;
}
article{
    display: flex;
    flex-flow: row nowrap;
    margin: 2rem 0;
    padding: 0;
    justify-content: space-around;
}
.leftarticle{
    margin-right: 1.5rem ;
    padding: 0;
    text-align: left;
    flex-basis: 10%;
}
.rightarticle{
    margin: 0;
    padding: 0;
    text-align: left;
    flex-basis: 90%;
}
.borderradius{
    border-radius: 5%;
}
footer{
    text-align: center;
    font-size: 0.8rem;
    margin: 0;
   padding: 1.5rem 0 0 0;
   border-top: solid 0.1rem #A51F10
}
footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
footer li{
    display: inline-block;
}